@model IEnumerable<ELearning.Data.QuestionGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Index
        </th>
        <th>
            IsRequired
        </th>
        <th>
            FormTemplateID
        </th>
        <th>
            Questions
        </th>
        <th>
            Type
        </th>
        <th>
            TypeReference
        </th>
        <th>
            ParentForm
        </th>
        <th>
            ParentFormReference
        </th>
        <th>
            TypeEnum
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.Index
        </td>
        <td>
			@item.IsRequired
        </td>
        <td>
			@item.FormTemplateID
        </td>
        <td>
			@(item.Questions == null ? "None" : item.Questions.Count.ToString())
        </td>
        <td>
			@(item.Type == null ? "None" : item.Type.Name)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.TypeReference).ToString()
        </td>
        <td>
			@(item.ParentForm == null ? "None" : item.ParentForm.Name)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.ParentFormReference).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.TypeEnum).ToString()
        </td>
    </tr>
}

</table>


