@model IEnumerable<ELearning.Data.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Text
        </th>
        <th>
            HelpText
        </th>
        <th>
            ImageUrl
        </th>
        <th>
            Explanation
        </th>
        <th>
            QuestionGroup
        </th>
        <th>
            QuestionGroupReference
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.Text
        </td>
        <td>
			@item.HelpText
        </td>
        <td>
			@item.ImageUrl
        </td>
        <td>
			@item.Explanation
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.QuestionGroup).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.QuestionGroupReference).ToString()
        </td>
    </tr>
}

</table>


