@model ELearning.Models.Authentication.LoggedUserModel
           
@if (Model == null)
{
    return;
    throw new ELearning.Business.Exceptions.PermissionException("Access");
}
           
<div id="mainMenuControl">
    <div>
        <ul>
            @if (Model.Type == ELearning.Data.Enums.UserTypes.Administrator || Model.Type == ELearning.Data.Enums.UserTypes.Lector)
            {
                <li>
                    @Html.ActionLink("Testy", "Index", "Form")
                    <ul>
                        <li>@Html.ActionLink("Vytvořit test", "Create", "Form")</li>
                        <li>@Html.ActionLink("Zobrazit", "Index", "Form")</li>
                    </ul>
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Dostupné testy", "Index", "Form")
                </li>
                <li>
                    @Html.ActionLink("Vyplněné testy", "Detail", "Student", new { id = Model.ID }, null)
                </li>
            }
        </ul>
    </div>
    @if (Model.Type == ELearning.Data.Enums.UserTypes.Administrator || Model.Type == ELearning.Data.Enums.UserTypes.Lector)
    {
        <div>
            <ul>
                <li>
                    @Html.ActionLink("Studenti", "Index", "Student")
                    <ul>
                        <li>@Html.ActionLink("Zobrazit", "Index", "Student")</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    @Html.ActionLink("Skupiny", "Index", "Group")
                    <ul>
                        <li>@Html.ActionLink("Zobrazit", "Index", "Group")</li>
                    </ul>
                </li>
            </ul>
        </div>
    }
    @if (Model.Permissions.User_List)
    {
        <div>
            <ul>
                <li>
                    @Html.ActionLink("Uživatelé", "Index", "User")
                    <ul>
                        @if (Model.Permissions.User_CreateEdit)
                        {
                            <li>@Html.ActionLink("Nový uživatel", "Create", "User")</li>
                        }
                        <li>@Html.ActionLink("Zobrazit", "Index", "User")</li>
                    </ul>
                </li>
            </ul>
        </div>
    }
    @if (Model.Permissions.Group_List_All)
    {
        <div>
            <ul>
                <li>
                    @Html.ActionLink("Uživatelské skupiny", "Index", "Group")
                    <ul>
                        @if (Model.Permissions.Group_CreateEdit)
                        {
                            <li>@Html.ActionLink("Nová skupina", "Create", "Group")</li>
                        }
                        <li>@Html.ActionLink("Zobrazit", "Index", "Group")</li>
                    </ul>
                </li>
            </ul>
        </div>
    }
</div>
