 @model ELearning.Models.Controls.UpDownControlModel
@using ELearning.Utils

 <div class="upDownControl" id="@Model.Guid">
    <div class="label">
        @Html.LabelFor(q => q.Value, @Model.Text)
    </div>
    <div class="textbox">
        @Html.EditorFor(q => q.Value, null, string.Format("{0}.Value", Model.ParentPropertyName))
        @Html.ValidationMessageFor(q => q.Value)
    </div>
    <div class="buttons">
        <a class="button" href="#" onclick="new UpDownControl('@Model.Guid').increase()">+</a>
        <a class="button" href="#" onclick="new UpDownControl('@Model.Guid').decrease()">-</a>
    </div>
    <div class="clear">
    </div>
</div>