@using ELearning.Utils
@model ELearning.Models.Settings.ChangePasswordModel
           
@{
    ViewBag.Title = ELearning.Localization.GetResourceString("ChangePassword");
}
<div class="createEditForm" id="changePasswordForm">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>@Html.ResourceString("ChangePassword")</legend>
            <div class="editor-group" id="oldPassword">
                <div class="editor-label">
                    @Html.LabelFor(model => model.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
                <div class="clear"></div>
            </div>
            <div class="editor-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="clear"></div>
            </div>
            <div class="editor-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NewPasswordAgain)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.NewPasswordAgain)
                    @Html.ValidationMessageFor(model => model.NewPasswordAgain)
                </div>
                <div class="clear"></div>
            </div>
            <p class="center">
                <input type="submit" value="@Html.ResourceString("Save")" class="Button" />
            </p>
        </fieldset>
        
    }
</div>
