@using ELearning.Utils

<fieldset class="assignedGroupsEditor">
    <legend>@Html.ResourceString("Groups")</legend>
    <h3>@Html.ResourceString("Groups")</h3>
    <div>
        @{
            IDictionary<string, object> htmlValues = new Dictionary<string, object>();
            htmlValues.Add("checked", "checked");
        }
        @foreach (var group in Model.AssignedGroups)
        {

            string id = string.Format("assignedGroupsGID{0}", group.ID);
            string value = group.ID.ToString();
            @Html.CheckBox(id, "assignedGroupIDs", value, htmlValues);
            <label for="@string.Format("assignedGroupsGID{0}", group.ID)" title="@group.Name">@group.Name</label>
        }
    </div>
    <div>
        @foreach (var group in Model.PossibleGroups)
        {
            string id = string.Format("assignedGroupsGID{0}", group.ID);
            string value = group.ID.ToString();
            @Html.CheckBox(id, "assignedGroupIDs", value, null);
            <label for="@string.Format("assignedGroupsGID{0}", group.ID)" title="@group.Name">@group.Name</label>                                                     
        }
    </div>
    <div class="clear"></div>
</fieldset>

<div class="clear"></div>