@using ELearning.Utils
@model IEnumerable<ELearning.Models.Data.TextBookModel>

@{
    ViewBag.Title = ELearning.Localization.GetResourceString("TextBooks");
    ViewBag.TopButtons = new[] { new ELearning.Models.GeneralView.TopButtonModel(ELearning.Localization.GetResourceString("CreateNew"), "Create", "TextBook") };
}

<table class="datagrid">
    <tr>
        <th>
            @Html.ResourceString("Title")
        </th>
        <th>
            @Html.ResourceString("CreatedBy")
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "View", new { id = item.ID })
        </td>
        <td>
			@(item.CreatedBy.Name)
        </td>
        <td>
            @if (item.CreatedBy.ID == ViewBag.CurrentUserModel.ID || ViewBag.CurrentUserModel.Permissions.TextBook_CreateEdit_All)
            {
                @Html.ButtonLink(ELearning.Localization.GetResourceString("Edit"), "Edit", new { id = item.ID })
            }
        </td>
        <td>
            @if (item.CreatedBy.ID == ViewBag.CurrentUserModel.ID || ViewBag.CurrentUserModel.Permissions.TextBook_Delete)
            {
                @Html.ButtonLink("X", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>