@using ELearning.Utils
@model ELearning.Models.FormInstancesModel

@{
    ViewBag.Title = "Test";
}

<p>@Model.Form.Type.Name</p>

<h2>@Model.Form.Name</h2>

<p>@Model.Form.Text</p>

@if (Model.Form.TimeToFill != null)
{
    <p>Time to fill: @Model.Form.TimeToFill</p>
}

<p>Questions: @Model.Form.QuestionGroups.Count</p>

@{
    string filledTimes = Model.FormInstances.Count.ToString();
    if (Model.Form.MaxFills != null)
    {
        filledTimes = string.Format("{0} / {1}", Model.FormInstances.Count, Model.Form.MaxFills.Value);
    }
}
<p>Filled: @filledTimes times</p>

@if (Model.Form.MaxFills == null || Model.FormInstances.Count < Model.Form.MaxFills.Value)
{ 
    @Html.ButtonLink("Start", "StartForm", new { id = Model.Form.ID })
}

@*<input 
    class="Button" 
    type="button"
    title="Start"
    value="Start"
    onclick="@string.Format("window.open('../FillForm/{0}', '_blank', 'width=800, toolbar=0, resizable=1, scrollbars=1, menubar=0')", Model.Form.ID)"
    />*@
