@model ELearning.Models.Data.ChoiceQuestionInstanceModel

<ol>

    @foreach (var item in Model.ChoiceItems)
    {
        <li>
            <input id="@string.Format("Q{0}CH{1}", Model.ID, item.ID)" type="radio" name="@string.Format("Q{0}", Model.ID)" value="@item.ID" />
            <label for="@string.Format("Q{0}CH{1}", Model.ID, item.ID)" title="@item.Text">@item.Text</label>
        </li>
    }

</ol>