@model ELearning.Data.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">Text</div>
    <div class="display-field">@Model.Text</div>

    <div class="display-label">HelpText</div>
    <div class="display-field">@Model.HelpText</div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">@Model.ImageUrl</div>

    <div class="display-label">Explanation</div>
    <div class="display-field">@Model.Explanation</div>

    <div class="display-label">QuestionGroup</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.QuestionGroup).ToString()</div>

    <div class="display-label">QuestionGroupReference</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.QuestionGroupReference).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="Button" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


