@model ELearning.Models.Data.EditGroupModel
@using ELearning.Utils
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Group"))
{
    @Html.Hidden("groupID", Model.ID);
    
    <h2>@Model.Name</h2>

    <table class="datagrid">
        <caption>
            Members</caption>
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
        </tr>
        @{
            IDictionary<string, object> htmlValues = new Dictionary<string, object>();
            htmlValues.Add("checked", "checked");
        }
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>
                    @if (ViewBag.CurrentUserModel.Type == ELearning.Data.Enums.UserTypes.Administrator)
                    {
                        @Html.CheckBox(string.Format("assignedMembersMID{0}", member.ID), "assignedMemberIDs", member.ID.ToString(), htmlValues);
                    }
                </td>
                @if (member.Type.Enum == ELearning.Data.Enums.UserTypes.Student)
                {
                    <td>@Html.ActionLink(member.Name, "Detail", "Student", new { id = member.ID }, null)
                    </td>
                }
                else
                {
                    <td>@member.Name
                    </td>
                }
            </tr>
        }
    </table>

    if (ViewBag.CurrentUserModel.Type == ELearning.Data.Enums.UserTypes.Administrator)
    {
        <table class="datagrid">
            <caption>
                Possible Members</caption>
            <tr>
                <th>
                </th>
                <th>
                    Name
                </th>
            </tr>
            @foreach (var member in Model.PossibleMembers)
            {
                <tr>
                    <td>
                        @Html.CheckBox(string.Format("assignedMembersMID{0}", member.ID), "assignedMemberIDs", member.ID.ToString(), null)
                    </td>
                    @if (member.Type.Enum == ELearning.Data.Enums.UserTypes.Student)
                    {
                        <td>@Html.ActionLink(member.Name, "Detail", "Student", new { id = member.ID }, null)
                        </td>
                    }
                    else
                    {
                        <td>@member.Name
                        </td>
                    }
                </tr>
            }
        </table>
        <span>
            <input type="submit" class="Button" value="Save Changes" />
        </span>
    }
}