@using ELearning.Models.Data;
@using ELearning.Utils;
@model IEnumerable<QuestionGroupModel>
           
@foreach (QuestionGroupModel item in Model)
{
    <div class="Question">
        <fieldset>
            <legend>Question #@item.Index</legend>

            <div class="Header">
                <h3>Question #@item.Index</h3>
                <span>@item.Type.Name</span>
            </div>

            @Html.Partial("_EditQuestionGroup", item)

            <div class="Footer">
                @Html.ButtonLink("Add Alternative Question", "AddAlternativeQuestion", new { formTemplateID = item.FormTemplateID, questionGroupID = item.ID, questionTypeID = item.Type.ID })
            </div>

        </fieldset>
    </div>
}

<div id="CreateNewQuestion">
    @using (Html.BeginForm("CreateNewQuestion", "Form")) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>New Question</legend>
            <h3>New Question</h3>

		    @Html.Partial("_CreateQuestionGroup", new QuestionGroupModel() { FormTemplateID = ViewBag.Form.ID })

            <span>
                <input type="submit" class="Button" value="CreateNewQuestion" />
            </span>
        </fieldset>
    }
</div>