@model ELearning.Models.Data.FormModel

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Text)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Text)
    @Html.ValidationMessageFor(model => model.Text)
</div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.TimeToFill)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TimeToFill)
    @Html.ValidationMessageFor(model => model.TimeToFill)
</div>*@

@*<div class="editor-label">
    @Html.LabelFor(model => model.Shuffle)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Shuffle)
    @Html.ValidationMessageFor(model => model.Shuffle)
</div>*@

<div class="editor-label">
    FormType
</div>
<div class="editor-field">
    @Html.DropDownListFor(
        model => model.Type.ID, 
        new SelectList(((ICollection<ELearning.Models.Data.FormTypeModel>)ViewBag.FormTypes), "ID", "Name", Model == null ? ViewBag.DefaultFormType : Model.Type.ID)
        )
    @Html.ValidationMessageFor(model => model.Type)
</div>