@model ELearning.Models.Data.NewFormModel
@using ELearning.Utils


<div class="editor-group" id="FormNameGroup">
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="editor-group" id="FormTypeGroup">
    <div class="editor-label">
        FormType
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(
            model => model.Type.ID, 
            new SelectList(((ICollection<ELearning.Models.Data.FormTypeModel>)ViewBag.FormTypes), "ID", "Name", Model == null || Model.Type == null ? ViewBag.DefaultFormType : Model.Type.ID)
            )
        @Html.ValidationMessageFor(model => model.Type)
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<div class="editor-group" id="TextGroup">
    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>
    <div class="clear"></div>
</div>

<div class="editor-group" id="TimeToFillGroup">
    <div class="editor-label">
        @Html.LabelFor(model => model.TimeToFill)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TimeToFill)
        minutes
        @Html.ValidationMessageFor(model => model.TimeToFill)
    </div>
    <div class="clear"></div>
</div>

<div class="editor-group" id="MaxFillsGroup">
    <div class="editor-label">
        @Html.LabelFor(model => model.MaxFills)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MaxFills)
        @Html.ValidationMessageFor(model => model.MaxFills)
    </div>
    <div class="clear"></div>
</div>

<div class="editor-group" id="ShuffleGroup">
    <div class="editor-label">
        @Html.LabelFor(model => model.Shuffle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Shuffle)
        @Html.ValidationMessageFor(model => model.Shuffle)
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

@Html.Partial("../Partials/AssignedGroupsEditor")


