@model ELearning.Models.Data.QuestionModel




<div class="editor-group">
    <div class="editor-label">
        @Html.LabelFor(q => q.Text)
    </div>
    <div class="editor-field">
        @Html.EditorFor(q => q.Text)
        @Html.ValidationMessageFor(q => q.Text)
    </div>
    <div class="clear">
    </div>
</div>

<div class="editor-group">
    <div class="editor-label">
        @Html.LabelFor(q => q.HelpText)
    </div>
    <div class="editor-field">
        @Html.EditorFor(q => q.HelpText)
        @Html.ValidationMessageFor(q => q.HelpText)
    </div>
    <div class="clear">
    </div>
</div>

<div class="editor-group">
    <div class="editor-label">
        @Html.LabelFor(q => q.Explanation)
    </div>
    <div class="editor-field">
        @Html.EditorFor(q => q.Explanation)
        @Html.ValidationMessageFor(q => q.Explanation)
    </div>
    <div class="clear">
    </div>
</div>