@using ELearning.Utils;
@model ELearning.Models.Data.FormModel

@{
    ViewBag.Title = "Test";
}

<h2>@Model.Name</h2>


<fieldset>
    <p>@Model.Text</p>
    <p>Type: @Model.Type.Name</p>
    <p>Time to fill: @Model.TimeToFill minutes</p>
    @Html.ButtonLink("Edit", "Edit", new { id = Model.ID})
</fieldset>

<h3>Questions</h3>

@Html.Partial("_CreateOrEditQuestions", Model.QuestionGroups)
