@using ELearning.Utils;
@model ELearning.Models.Data.FormModel

@{
    ViewBag.Title = "Test";
}

<div id="CreateEditQuestions">
    <div id="CreateEditQuestionsHeader">
        <h2>@Model.Name</h2>
        <div id="info">
            <span>@Model.Type.Name</span>
            <span>@Model.TimeToFill</span>
            @Html.ButtonLink("Edit", "Edit", new { id = Model.ID})
        </div>
        <p>@Model.Text</p>
    </div>

    @Html.Partial("_CreateOrEditQuestions", Model.QuestionGroups)

</div>