@using ELearning.Utils
@model IEnumerable<ELearning.Models.Data.FormModel>
@{
    ViewBag.Title = "Dostupné testy";   
}
@if (ViewBag.CurrentUserModel.Permissions.Form_CreateEdit)
{
    <p>
        @Html.ButtonLink("Create New", "Create")
    </p>
}
<table class="datagrid">
    <tr>
        <th>
            Name
        </th>
        <th>
            Text
        </th>
        <th>
            Created
        </th>
        <th>
            Type
        </th>
        <th>
            Author
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (ViewBag.CurrentUserModel.Type == ELearning.Data.Enums.UserTypes.Administrator || ViewBag.CurrentUserModel.Type == ELearning.Data.Enums.UserTypes.Lector)
                {
                    @Html.ActionLink(item.Name, "CreateEditQuestions", new { id = item.ID })
                }
                else
                {
                    @Html.ActionLink(item.Name, "Index", "FormInstance", new { id = item.ID }, null)
                }
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @ELearning.Utils.Formatting.FormatAsDate(item.Created)
            </td>
            <td>
                @item.Type.Name
            </td>
            <td>
                @item.Author.Name
            </td>
            <td>        
                @if (ViewBag.CurrentUserModel.Permissions.Form_Delete
                    || ViewBag.CurrentUserModel.ID == item.Author.ID)
                {
                    @Html.ButtonLink("Activate", "Activate", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>
