@using ELearning.Models.Data;
@using ELearning.Utils;
@model IEnumerable<QuestionGroupModel>
           
@foreach (QuestionGroupModel item in Model)
{
    <div class="Question" id="@string.Format("Q{0}", item.ID)">
        <fieldset>
            <legend>Question #@item.Index</legend>

            <div class="Header">
                <h3>#@item.Index</h3>
                <div class="clmnQuestionType">@item.Type.DisplayName</div>
                <div class="clmnQuestionText">@item.Questions[0].TextCropped</div>
                <div class="clmnDeleteQuestion">
                     @Html.ButtonLink("X", "DeleteQuestion", new { formID = item.FormTemplateID, questionID = @item.ID })
                </div>
                <div class="clmnDuplicateQuestion">
                    @Html.LocalizedButtonLink("Duplicate", "DuplicateQuestionGroup", new { formTemplateID = item.FormTemplateID, questionGroupID = item.ID })
                </div>
                <div class="clear"></div>
            </div>

            <div class="Content">
                @Html.Partial("_EditQuestionGroup", item)

                <div class="Footer">
                    @Html.LocalizedButtonLink("AddAlternativeQuestion", "AddAlternativeQuestion", new { formTemplateID = item.FormTemplateID, questionGroupID = item.ID, questionTypeID = item.Type.ID })
                </div>
            </div>

        </fieldset>
    </div>
}

<div id="CreateNewQuestion">
    @using (Html.BeginForm("CreateNewQuestion", "Form")) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>@Html.ResourceString("NewQuestion")</legend>
            <h3>@Html.ResourceString("NewQuestion")</h3>

		    @Html.Partial("_CreateQuestionGroup", new QuestionGroupModel() { FormTemplateID = ViewBag.Form.ID })

            <span>
                <input type="submit" class="Button" value="@Html.ResourceString("Add")" />
            </span>
        </fieldset>
    }
</div>