@using ELearning.Utils
@model ELearning.Models.Data.UserModel


<div class="editor-group">
    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="clear"></div>
</div>

<div class="editor-group">
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="clear"></div>
</div>

<div class="editor-group">
    <div class="editor-label">
        @Html.ResourceString("UserType")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(
            model => model.Type.ID,
            new SelectList(((ICollection<ELearning.Models.Data.UserTypeModel>)ViewBag.UserTypes), "ID", "DisplayName", Model == null ? ViewBag.DefaultUserType : Model.Type.ID)
            )
        @Html.ValidationMessageFor(model => model.Type.ID)
    </div>
    <div class="clear"></div>
</div>
